@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 50px;
  text-decoration: none;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: -webkit-linear-gradient(#2b2727, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems::after{
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust the distance from the text */
  left: 50%; /* Start from the middle */
  width: 0;
  height: 4px; /* Thickness of the underline */
  background-color: rgb(241, 174, 246);
  transform: translateX(-50%); /* Center the line */
  transition: width 0.3s ease;
}

.menuItems:hover::after{
  width: 100%;
}

.menuItems a {
  font-size: 26px;
  font-weight: 600;
  font-family: initial;
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(22, 118, 135, 0.2) 0%,
      rgb(16, 47, 103) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(58, 1, 1, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
